html {
  min-height: 100%;
}

body { 
  min-height: 100%;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
}

/* Universal Classes
================================================== */
.no-style {
  background-color: transparent;
  border: none;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.color-purple {
  color: #563d7c;
}
.bg-purple {
  background-color: rgba(86,61,124,1);
}
.pointer {
  cursor: pointer;
}
.pointer:hover div {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* Device Detect (used with device-detect.js)
================================================== */
.hidden-android {
    display: none;
}

.hidden-ios {
    display: none;
}

.hidden-web {
    display: none;
}

.visible-web {
    display: block;
}

/* Bootstrap Classes
================================================== */
 .full-height {
  height: 100% !important;
 }

.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.well {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  color: rgba(86,61,124,.8);
  border-radius: 0px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
.full:hover {
  text-decoration: none;
}
.btn:focus {
  outline: none;
  outline-offset: 0;
}
.navbar-default {
background-color: rgba(86,61,124,.15);
border: 1px solid rgba(86,61,124,.2);
}
/* Styles
================================================== */
#grid-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
#toolbar-overlay {
  display: none;
  position: absolute;
  left: 0;
  bottom: 103px;
  width: 100%;
  z-index: 0;
  background-color: rgba(86,61,124,1);
}
#contextual-info {
  color: white;
}
#device-info-row {
  margin-bottom: 0px;
}
.device-info {
  text-align: center;
  line-height: 40px;
}
.device-info-border {
  display: inline-block;
  width: 100%;
  min-height: 72px;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
#show-hide-grid-on {
  cursor: pointer;
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}
.show-hide-grid-off {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.show-hide-grid-on {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}
.glyphicon-align-center {
  color: #563d7c;
  margin: auto 5px 0 -5px; 
}
#device-drop-arrow {
  color: #563d7c;
  height: 36px;
  border-radius: 4px 4px 0 0;
}
#device-drop-text {
  height: 37px;
  border-radius: 0 0 4px 4px;
  margin-left: 0px;
  margin-top: -1px;
}
#device-drop-text:hover,
#device-drop-text:active {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  cursor: default;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu {
  left: auto;
  right: 15px;
  background-color: #f8f8f8;
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0px 1px;
  -webkit-box-shadow: none;
 box-shadow: none;
}
.dropdown-menu li a {
  cursor: pointer;
}

/* Media Queries
================================================== */
@media (max-width: 479px) {
  #toolbar-overlay .container {
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    top: 0px;
  }
  #toolbar-overlay {
    top: 0px;
  } 
}

@media (min-width: 480px) and (max-width: 767px) {
  #toolbar-overlay .container {
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    top: 0px;
  }
  #toolbar-overlay {
    top: 0px;
  } 
}

@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 1200px) {
  
}

