body { 
  padding-top: 70px; /* For Top Navbar */
  padding-bottom: 70px; /* For Bottom Navbar */
}

body.homepage {
   background-color: #e2e2e2;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.well {
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  color: rgba(86,61,124,.8);
  border-radius: 0px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.full {
  display: block;
  width: 100%;
  height: 100%;
}

.full:hover {
  text-decoration: none;
}

.no-style {
  background-color: transparent;
  border: none;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

#jumbotron-home {
  min-height: 600px;
  margin-top: -20px;
  background-color: #333;
  background: url(../img/bg-jumbotron-home.jpg) no-repeat center center rgba(235,55,65,0.1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-jumbotron-home.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-jumbotron-home.jpg', sizingMethod='scale')";
}

#jumbotron-home-container {
  margin-top: -260px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(255,255,255,1);
  margin-bottom: 90px;
}

#homepage-headline {
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

#homepage-biline {
  color: #fff;
  font-size: 28px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  font-weight: lighter;
}

#homepage-author {
  margin-top: 60px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

#homepage-author a {
  color: #cdbfe3;
}

.content-headline {
  margin-top: 0;
  color: #6f5499;
  font-size: 36px;
  font-weight: lighter;
}

.home-p {
  margin-bottom: 0px;
}

.home-p p {
  margin-bottom: 0px;
  font-size: 18px;
}

.home-p p a {
  color: #6f5499;
  text-decoration: underline;
}

#img-devices,
#img-example {
  margin: 0 auto;
}

#introduction-headline {
  margin-top: 90px;
}

.get-started-headline {
  text-align: center;
}

.get-started-text {

}

.get-started-btn {
  color: #fff;
  background-color: #563d7c;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #563d7c;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.get-started-btn:hover {
  color: #563d7c;
  background-color: transparent;
  border: 1px solid #563d7c;
}

.alert-panel {
  margin-bottom: 0px;
}

.alert-row {
  margin-bottom: 0px;
}

.device-info {
  text-align: center;
  line-height: 40px;
}

#device-info-row {
  margin-bottom: 0px;
}

#footer a {
  color: #563d7c;
}

/* Extra Small devices (up to 479px) */
@media (max-width: 479px) {

  #homepage-headline {
    font-size: 40px;
  }

  #homepage-biline {
    font-size: 21px;
  }

  .content-headline {
    font-size: 32px;
  }

  .home-p {
    padding: 0px;
  }

  #footer {
    text-align: center;
  }

}

/* Medium Small devices (tablets, 480px and up) */
@media (min-width: 480px) and (max-width: 767px) {

  #homepage-headline {
    font-size: 60px;
  }

  #homepage-biline {
    font-size: 24px;
  }

  .content-headline {
    font-size: 32px;
  }

  .home-p {
    padding: 0px
  }

  #footer {
    text-align: center;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}